extends layout

block content
    script
        function completeOrder(id) {
            $.post('./complete',{id:id});
            $('p[id=' + id + "]").remove();
        }
    h1=title
    form()
        p Current Orders
        each order in orders
            p(id="#{order.id}")
                | #{order.customerName}
                each ingredient in order.ingredients
                    | , #{ingredient.name}
                input(type='button', name='submit', value='completed', onclick='completeOrder("#{order.id}")')